<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="container subcontainer-side-by-side">
        <h3>Add a new offer!</h3>
        <%= simple_form_for @service do |f| %>
        <%= f.input :name %>
        <%= f.input :category %>
        <%= f.input :description %>
        <%= f.input :location, input_html: {id: "location"} %>
        <%= f.input :distance %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Create", class: "btn-submit" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="container subcontainer-side-by-side" id="large-side">
        <h3>You current offers</h3>
        <% if current_user.services.any? %>
          <% current_user.services.each do |service| %>
            <div class="row">
              <div class="card-small-wide">
                <%= cl_image_tag service.photo, class: "card-sneak-pic", height: 80, width: 100, crop: :fill %>
                <div class="card-description-wrapper">
                  <div class="card-component-small" class="category-city">
                    <p><strong>PRESTATION:</strong><%= "  #{service.name}".upcase %></p>
                  </div>
                  <div class="card-component-small" class="category-city">
                    <p><strong>LOCATION:</strong><%= "  #{service.location}".upcase %></p>
                  </div>
                  <div class="card-component-small" class="category-city">
                    <p><strong>PRICE:</strong><%= "   #{service.price} €".upcase %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You don't have any services offering yet</p>
        <% end %>
      </div>
    </div>
  </div>
</div>


