
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <div class="wrapper">
        <div class="sub-container">
          <p><% @service.category %></p>
          <h1><%= @service.name %></h1>
          <p><%= @service.price %></p>
          <h2><%= @service.ratings.reduce(:+) / @service.ratings.size.0 %></h>
          <% @service.descriptions.each do |description|%>
            <p><%= @service.description %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-6 service-show-right">
      <div class="sub-container" id="top-right">
        <%= cl_image_tag @service.photo, height: 300, width: 400, crop: :fill %>
        <%=  simple_form_for(@booking) do |f| %>
          <%= f.input :date %>
          <%= f.input :time %>
          <%= f.submit "Book", class: "btn btn-danger"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>

