<div class="container">
  <div class="row">
    <div class="col-xs-4 col-md-6">
      <div class="wrapper">
        <div class="sub-container">
          <p>Category: <%= @service.category.capitalize %></p>
          <h1><%= @service.name.upcase %></h1>
          <p>Price: <%= @service.price %>€</p>
          <% sum = 0 %>
          <% counter = 0 %>
          <% @service.bookings.each do |booking| %>
            <% if !booking.rating.nil? %>
              <% sum += booking.rating %>
              <% counter += 1 %>
            <% end %>
          <% end %>
          <h2> Rating: <%= sum/counter %></h2>
          <ul class="unstyled-list">
          <% @service.bookings.each do |booking|%>
            <% if !booking.review.nil? %>
              <li><%= booking.review %></li>
            <% end %>
          <% end %>
         </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-md-6 service-show-right">
      <div class="sub-container" id="top-right">
        <%= cl_image_tag @service.photo, height: 600, width: 600, crop: :fit %>
        <%= simple_form_for([@service, @booking]) do |f| %>
          <%= f.input :date %>
          <%= f.input :time %>
          <%= f.input :location, input_html: {id: "location"} %>
          <%= f.submit "Book it now", class: "btn btn-success btn-block"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- , value: @location -->
