
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <div class="wrapper">

        <div class="sub-container">
          <p><%= @service.category %></p>
          <h1><%= @service.name %></h1>
          <p><%= @service.price %></p>
          <% sum = 0 %>
          <% counter = 1 %>
          <% @service.bookings.each do |booking| %>
            <% sum += booking.rating %>
            <% counter += 1 %>
          <% end %>
          <h2><%= sum/counter %></h2>
          <ul class="unstyled-list">
          <% @service.bookings.each do |booking|%>
            <li><%= booking.description %></li>
          <% end %>
         </ul>
        </div>

      </div>
    </div>
    <div class="col-xs-6 col-md-6 service-show-right">
      <div class="sub-container" id="top-right">
        <%= cl_image_tag @service.photo, height: 300, width: 400, crop: :fill %>
        <%= simple_form_for([@service, @booking]) do |f| %>
          <%= f.input :date %>
          <%= f.input :time %>
          <%= f.submit "Book it brozer", class: "btn btn-danger"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>

