
<div class="navbar-clapclap">
  <% link_to root_path %>
    <a href="/" class="navbar-wagon-brand">
      <%= image_tag "Untitled.png" %>
    </a>
  <div class="form-inline formdiv">
    <div class="first-el">
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query_what,
      params[:query_what],
      placeholder: "What?"
      %>
    </div>
    <div class="second-el">
      <%= text_field_tag :query_where,
      params[:query_where],
      placeholder: "Where?"
      %>
    </div>
    <div class="third-el">
      <%= button_tag(type: "submit", class: "btn-submit") do %>
          <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
    </div>



    <% end %>
  </div>

  <div class="navbar-right hidden-xs hidden-sm">
    <%= render "devise/shared/navbar_registration_or_view" %>
    <%= render "devise/shared/navbar_dropdown_logged_in" %>
  </div>

</div>






